@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Raleway&display=swap');
/* font-family: 'Hedvig Letters Serif', serif; */
/* font-family: 'Raleway', sans-serif; */

@font-face {
    font-family: 'impulsn';
    src: url(fonts/impulsn.TTF) format('truetype');    
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-color: white;
    --secondary-color: rgb(160, 160, 160);
}

/* -------------- ESTILOS GENERALES -------------- */

* {
    scroll-behavior: smooth;
}

.d-none {
    display: none;
}

p,h1,h2,h3,h4 {
    margin: 0;
    font-family: 'Hedvig Letters Serif', serif;
}

body {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    color: var(--primary-color);
    margin: 0;
}

.fade {
    opacity: 0.2;
}

nav {
    background-color: rgb(19, 19, 19);
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 20px;
}

li {
    font-family: 'Hedvig Letters Serif', serif;
    list-style: none;
    display: flex;
    align-items: center;
    opacity: .75;
    transition: .3s;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

/* -------------- NAVEGACION -------------- */

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
    gap: 50px;
    font-size: 2rem;
}

#menu {
    display: none;
}

input[name=input-nav] {
    height: 40px;
    width: 300px;
}

input[name=input-nav]::placeholder {
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 1.2rem;
}

.logo {
    width: 230px;
}

li:hover {
    opacity: 1;
}

/* -------------- PRESENTACION -------------- */

header {
    padding-right: 200px;
}

.dialog {
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    z-index: 100;
    margin-block: 30vh;
    margin-inline: 30vw;
    padding: 40px;
    border-radius: 20px;
}

.dialgo > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dialog h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

.dialog p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.dialog p span {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-dialog {
    background-color: rgb(44, 44, 44);
    color: var(--primary-color);
    margin-top: 40px;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    transition: .3s;
}

.btn-dialog:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
}

.img-fondo {
    height: 85vh;
    margin-top: 120px;
}

header section {
    display: flex;
}

.presentation h1 {
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 5.5rem;
    line-height: 5.5rem;
    color: var(--primary-color);
    margin-inline: auto;
    margin-top: 200px;
    margin-bottom: 0;
}

.presentation h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 50px;
}

.presentation p {
    font-size: 1.7rem;
    text-indent: 2rem;
}

.referencia {
    margin-left: 1rem;
    color: var(--secondary-color);
    font-style: italic;
}

.btn-presentation {
    background-color: rgb(44, 44, 44);
    color: var(--primary-color);
    margin-top: 40px;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    transition: .3s;
}

.btn-presentation:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
}

/* -------------- OBRAS -------------- */

.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 100px;
    max-width: 1700px;
}

.container article {
    max-width: 240px;
    margin-inline: auto;
}

.container h1 {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.todas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
}

.container-grid {
    position: relative;
}

.container-grid > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    font-family: 'Hedvig Letters Serif', serif;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-grid:hover div {
    text-align: center;
    opacity: 1;
    transition: opacity .35s;
}

.title-target {
    font-size: 1.5rem;
}

.subtitle-target {
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 40px;
}

.info-target {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn {
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 35px;
    margin-block: 10px;
    transition: .3s;
}

.btn:hover {
    cursor: pointer;
    scale: 1.1;
}

.btn-pdf {
    background-color: var(--primary-color);
}

.btn-info {
    background-color: var(--secondary-color);
}

/* -------------- MEDIAS QUERY -------------- */

@media (max-width: 1750px) {
    .presentation h1 {
        font-size: 4.5rem;
        line-height: 4rem;
    }

    .presentation p {
        font-size: 1.4rem;
    }
}

@media (max-width: 1550px) {

    nav {
        padding: 10px;
    }

    .logo {
        width: 200px;
    }

    .img-fondo {
        margin-top: 90px;
    }

    header {
        padding-right: 100px;
    }

    .presentation h1 {
        font-size: 4rem;
        margin-top: 170px;
    }
}

@media (max-width: 1480px) {
    header {
        padding-right: 100px;
    }

    .presentation h1 {
        margin-top: 120px;
        font-size: 3.7rem;
        line-height: 3.5rem;
    }

    .presentation h3 {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .presentation p {
        font-size: 1.1rem;
    }

    .btn-presentation {
        margin-top: 20px;
    }
    
    .img-fondo {
        height: 75vh;
        margin-top: 90px;
    }
}

@media (max-width: 1130px) {
    .presentation h1 {
        font-size: 4rem;
        line-height: 3.7rem;
    }
}

@media (orientation: portrait) {
    nav ul {
        display: none;
    }

    #menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        gap: 20px;
    }

    #menu .menu-icon {
        width: 40px;
        height: 40px;
    }

    header section {
        flex-direction: column;
    }

    .img-fondo {
        width: 100vw;
        height: auto;
    }

    header {
        padding-right: 0;
    }

    .presentation {
        padding-inline: 20px;
        height: 350px;
    }

    .presentation h1 {
        margin-top: 10px;
        font-size: 3rem;
        text-align: center;
    }

    .presentation h3 {
        text-align: center;
    }

    .container {
        margin: 20px;
        display: flex;
        justify-content: center;
    }
  }

  @media (max-width: 600px) {
    .presentation {
        height: 550px;
    }
  }