---
import NavMenu from '../components/NavMenu.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<NavMenu />
		</header>
		<main>
			<slot />
		</main>
		<footer></footer>	
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Raleway&display=swap');
	/* font-family: 'Hedvig Letters Serif', serif; */
	/* font-family: 'Raleway', sans-serif; */

	* {
		box-sizing: border-box;
	}

	html {
		font-family: 'Hedvig Letters Serif', 'Raleway', system-ui, sans-serif;
		background: black;
		scroll-behavior: smooth;
		color: white;
	}

	body {
        margin: 0 auto;
	}

	header {
		position: absolute;
		top: 0;
	}

	main {
		margin-top: 95px;
	}

	a {
		text-decoration: none;
		color: white;
	}

	.presentation h1 {
		font-family: 'Hedvig Letters Serif', serif;
		font-size: 5.5rem;
		line-height: 5.5rem;
		color: white;
		margin-inline: auto;
		margin-top: 70px;
		margin-bottom: 0;
	}

	.presentation h3 {
		font-family: 'Raleway', sans-serif;
		font-weight: lighter;
		color: rgb(160, 160, 160);
		margin-top: 20px;
		margin-bottom: 50px;
	}

	.presentation p {
		font-size: 1.7rem;
		text-indent: 2rem;
	}

	.referencia {
		margin-left: 1rem;
		color: rgb(160, 160, 160);
		font-style: italic;
	}	

	.btn-presentation {
		background-color: rgb(44, 44, 44);
		color: var(--primary-color);
		margin-top: 40px;
		font-size: 1.3rem;
		font-family: 'Raleway', sans-serif;
		border: 1px solid rgba(255, 255, 255, 0);
		border-radius: 5px;
		width: 200px;
		height: 50px;
		transition: .3s;
	}

	.btn-presentation:hover {
		cursor: pointer;
		border: 1px solid rgba(255, 255, 255, 1);
	}

	.prev-btn,
	.next-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		border: none;
		padding: 10px;
		cursor: pointer;
	}

	.prev-btn {
		left: 0;
	}

	.next-btn {
		right: 0;
	}
</style>
